openapi: 3.0.1
info:
  title: ProgramInterface.com
  description: ProgramInterface.com API client
  contact:
    name: ProgramInterface.com
    url: https://www.ProgramInterface.com
    email: programinterface@programinterface.com
  version: 0.0.1
servers:
  - url: https://api.fci.cloud
  - url: https://api.inspirenet.cloud
paths:
  '/app/api/Object/{objectType}({objectId})/{formName}/DataForm':
    get:
      tags:
        - Main
      description: Get Form for Object
      operationId: GetFormForObject
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Main
      description: Execute action in Object Form
      operationId: ExecuteActionInObjectForm
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/{objectType}/{formName}/DataForm':
    get:
      tags:
        - Main
      description: Get Form for Object Type
      operationId: GetFormForObjectType
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Main
      description: Execute action in Object Type Form
      operationId: ExecuteActionInObjectTypeForm
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/salesforce/api/Object/{objectType}({objectId})/{formName}/DataForm':
    get:
      tags:
        - Salesforce
      description: Get Form for Object
      operationId: GetFormForObjectFromSalesforce
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Salesforce
      description: Execute action in Object Form
      operationId: ExecuteActionInObjectFormFromSalesforce
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/salesforce/api/Object/{objectType}/{formName}/DataForm':
    get:
      tags:
        - Salesforce
      description: Get Form for Object Type
      operationId: GetFormForObjectTypeFromSalesforce
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Salesforce
      description: Execute action in Object Type Form
      operationId: ExecuteActionInObjectTypeFormFromSalesforce
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: formName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/{objectType}/Tags':
    get:
      tags:
        - Generic
      description: Get Tags previously used for Object Type
      operationId: GetTagsForObject
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: partialTag
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AugmentedTag'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/{objectType}/Lookup':
    post:
      tags:
        - Generic
      description: Lookup Values for an Object
      operationId: GetReferenceValues
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReferenceValue'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/{objectType}/Lookup({fieldName})':
    post:
      tags:
        - Generic
      description: Lookup Values for an Object
      operationId: GetReferenceValuesWithField
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: fieldName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReferenceValue'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/{objectType}({objectId})/UserAction({eventId})/DataForm':
    get:
      tags:
        - Main
      description: Get User Action Form for Object
      operationId: get--user-action-form
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Main
      description: Execute User Action for Object
      operationId: run--user-action
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /google/api/AppPlaces/Autocomplete:
    get:
      tags:
        - google
      description: Autocomplete
      operationId: GetAddressPredictions
      parameters:
        - name: search
          in: query
          schema:
            title: search
            type: string
        - name: center
          in: query
          schema:
            title: center
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Address Prediction Response
                type: object
                properties:
                  predictions:
                    title: predictions
                    type: array
                    items:
                      $ref: '#/components/schemas/AddressPrediction'
                description: Address Prediction Response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/google/api/AppPlaces({id})':
    get:
      tags:
        - google
      description: GetPlace
      operationId: GetGooglePlace
      parameters:
        - name: id
          in: path
          required: true
          schema:
            title: id
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Google Place Address
                type: object
                properties:
                  formattedAddress:
                    title: formattedAddress
                    type: string
                  streetNumber:
                    title: streetNumber
                    type: string
                  street:
                    title: street
                    type: string
                  neighborhood:
                    title: neighborhood
                    type: string
                  city:
                    title: city
                    type: string
                  state:
                    title: state
                    type: string
                  county:
                    title: county
                    type: string
                  country:
                    title: country
                    type: string
                  postalCode:
                    title: postalCode
                    type: string
                  postalCodeSuffix:
                    title: postalCodeSuffix
                    type: string
                  coordinates:
                    $ref: '#/components/schemas/GeoJSONPoint'
                  components:
                    title: components
                    type: object
                    additionalProperties:
                      type: string
                description: Google Place Address
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/AbstractNote({objectId})/{formName}/DataForm':
    get:
      tags:
        - AbstractNote
      description: Get Form for Object
      operationId: GetFormForAbstractNote
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: LastModifiedOn
          in: query
          schema:
            title: Last Modified
            type: string
            format: date-time
        - name: Content
          in: query
          schema:
            title: Content
            type: string
        - name: ContentType
          in: query
          schema:
            title: Content Type (MIME)
            enum:
              - application/json
              - text/html
              - text/plain
            type: string
        - name: CreatorId
          in: query
          schema:
            title: Creator
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active?
            type: boolean
        - name: RelatedObjects
          in: query
          schema:
            title: Related Objects
            type: object
            additionalProperties:
              type: string
        - name: Parent|ObjectId
          in: query
          schema:
            title: Object
            type: string
        - name: Parent|ObjectType
          in: query
          schema:
            title: Object Type
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/AbstractNote/{formName}/DataForm':
    get:
      tags:
        - AbstractNote
      description: Get Form for Object Type
      operationId: GetFormForTypeAbstractNote
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: LastModifiedOn
          in: query
          schema:
            title: Last Modified
            type: string
            format: date-time
        - name: Content
          in: query
          schema:
            title: Content
            type: string
        - name: ContentType
          in: query
          schema:
            title: Content Type (MIME)
            enum:
              - application/json
              - text/html
              - text/plain
            type: string
        - name: CreatorId
          in: query
          schema:
            title: Creator
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active?
            type: boolean
        - name: RelatedObjects
          in: query
          schema:
            title: Related Objects
            type: object
            additionalProperties:
              type: string
        - name: Parent|ObjectId
          in: query
          schema:
            title: Object
            type: string
        - name: Parent|ObjectType
          in: query
          schema:
            title: Object Type
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(b1a3f1ab-0666-49a5-a3a6-ee419fc888fe)/DataForm':
    get:
      tags:
        - Appointment
      description: Send Confirmation Email
      operationId: get--Appointment--SendCustomAppointmentConfirmationEmail--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: UnlayerTemplateId
          in: query
          schema:
            title: Template
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Appointment
      description: Send Confirmation Email
      operationId: run--Appointment--SendCustomAppointmentConfirmationEmail--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(b1a3f1ab-0666-49a5-a3a6-ee419fc888fe)':
    post:
      tags:
        - Appointment
      description: Send Confirmation Email
      operationId: start--Appointment--SendCustomAppointmentConfirmationEmail
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--SendCustomAppointmentConfirmationEmail--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(f1de146a-64a6-4895-84ac-1362613ba34c)/DataForm':
    get:
      tags:
        - Appointment
      description: Send Email
      operationId: get--Appointment--SendAppointmentConfirmationEmail--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Description
          in: query
          schema:
            title: Subject
            type: string
        - name: UnlayerTemplateId
          in: query
          schema:
            title: Template
            type: string
        - name: Message
          in: query
          schema:
            title: 'Messsage ({{InitialEvent.MetaValues.Message}})'
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Appointment
      description: Send Email
      operationId: run--Appointment--SendAppointmentConfirmationEmail--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(f1de146a-64a6-4895-84ac-1362613ba34c)':
    post:
      tags:
        - Appointment
      description: Send Email
      operationId: start--Appointment--SendAppointmentConfirmationEmail
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--SendAppointmentConfirmationEmail--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(2e8f1aa3-6d5f-449f-8036-141782333508)/DataForm':
    get:
      tags:
        - Appointment
      description: Send "I am on my way"...
      operationId: get--Appointment--SendOMWSMS--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: PhoneNumber
          in: query
          schema:
            title: Phone Number
            type: string
        - name: Description
          in: query
          schema:
            title: Message
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Appointment
      description: Send "I am on my way"...
      operationId: run--Appointment--SendOMWSMS--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(2e8f1aa3-6d5f-449f-8036-141782333508)':
    post:
      tags:
        - Appointment
      description: Send "I am on my way"...
      operationId: start--Appointment--SendOMWSMS
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--SendOMWSMS--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(bf2ea2a0-f5b1-4781-ac85-11a001dfabfe)/DataForm':
    get:
      tags:
        - Appointment
      description: Send "Upcoming appointment"...
      operationId: get--Appointment--SendUpcomingAppointmentReminder--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: PhoneNumber
          in: query
          schema:
            title: Phone Number
            type: string
        - name: Description
          in: query
          schema:
            title: Message
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Appointment
      description: Send "Upcoming appointment"...
      operationId: run--Appointment--SendUpcomingAppointmentReminder--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(bf2ea2a0-f5b1-4781-ac85-11a001dfabfe)':
    post:
      tags:
        - Appointment
      description: Send "Upcoming appointment"...
      operationId: start--Appointment--SendUpcomingAppointmentReminder
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--SendUpcomingAppointmentReminder--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(d53bd8ec-69fa-4983-9a79-831ebf904b5e)/DataForm':
    get:
      tags:
        - Appointment
      description: Call
      operationId: get--Appointment--InitiateCallWithOpenPhone--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Appointment
      description: Call
      operationId: run--Appointment--InitiateCallWithOpenPhone--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(d53bd8ec-69fa-4983-9a79-831ebf904b5e)':
    post:
      tags:
        - Appointment
      description: Call
      operationId: start--Appointment--InitiateCallWithOpenPhone
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(f277675f-15a9-45c5-a226-b5f5ea382252)/DataForm':
    get:
      tags:
        - Appointment
      description: Send SMS message that you are on your way to the Appoointment
      operationId: get--Appointment--InitiateOMWSMS--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: PhoneNumber
          in: query
          schema:
            title: Phone Number
            type: string
        - name: Description
          in: query
          schema:
            title: Message
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Appointment
      description: Send SMS message that you are on your way to the Appoointment
      operationId: run--Appointment--InitiateOMWSMS--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(f277675f-15a9-45c5-a226-b5f5ea382252)':
    post:
      tags:
        - Appointment
      description: Send SMS message that you are on your way to the Appoointment
      operationId: start--Appointment--InitiateOMWSMS
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--InitiateOMWSMS--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(853b8829-05d3-4404-ab5a-ec6db57e5f57)/DataForm':
    get:
      tags:
        - Appointment
      description: Send SMS with the time and date of Upcoming Appointment
      operationId: get--Appointment--InitiateSMSForUpcomingApppointment--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: PhoneNumber
          in: query
          schema:
            title: Phone Number
            type: string
        - name: Description
          in: query
          schema:
            title: Message
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Appointment
      description: Send SMS with the time and date of Upcoming Appointment
      operationId: run--Appointment--InitiateSMSForUpcomingApppointment--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Appointment({objectId})/UserAction(853b8829-05d3-4404-ab5a-ec6db57e5f57)':
    post:
      tags:
        - Appointment
      description: Send SMS with the time and date of Upcoming Appointment
      operationId: start--Appointment--InitiateSMSForUpcomingApppointment
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--InitiateSMSForUpcomingApppointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/Appointment({objectId})/{formName}/DataForm':
    get:
      tags:
        - Appointment
      description: Get Form for Object
      operationId: GetFormForAppointment
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: _id
          in: query
          schema:
            title: ID
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: User
            type: string
        - name: CreatedBy
          in: query
          schema:
            title: Created By
            type: string
        - name: LeadId
          in: query
          schema:
            title: Lead
            type: string
        - name: LocalDate
          in: query
          schema:
            title: Local Date
            type: string
        - name: LocalTime
          in: query
          schema:
            title: Local Time
            type: string
        - name: CancelledOn
          in: query
          schema:
            title: Cancelled On
            type: string
            format: date-time
        - name: CancelledBy
          in: query
          schema:
            title: Cancelled By
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created On
            type: string
            format: date-time
        - name: Start
          in: query
          schema:
            title: Start
            type: string
            format: date-time
        - name: End
          in: query
          schema:
            title: End
            type: string
            format: date-time
        - name: TimeZoneId
          in: query
          schema:
            title: Time Zone
            type: string
        - name: Tool
          in: query
          schema:
            title: Tool
            type: string
        - name: Refs|sf_WorkOrder
          in: query
          schema:
            title: Salesforce Project
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/Appointment/{formName}/DataForm':
    get:
      tags:
        - Appointment
      description: Get Form for Object Type
      operationId: GetFormForTypeAppointment
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: _id
          in: query
          schema:
            title: ID
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: User
            type: string
        - name: CreatedBy
          in: query
          schema:
            title: Created By
            type: string
        - name: LeadId
          in: query
          schema:
            title: Lead
            type: string
        - name: LocalDate
          in: query
          schema:
            title: Local Date
            type: string
        - name: LocalTime
          in: query
          schema:
            title: Local Time
            type: string
        - name: CancelledOn
          in: query
          schema:
            title: Cancelled On
            type: string
            format: date-time
        - name: CancelledBy
          in: query
          schema:
            title: Cancelled By
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created On
            type: string
            format: date-time
        - name: Start
          in: query
          schema:
            title: Start
            type: string
            format: date-time
        - name: End
          in: query
          schema:
            title: End
            type: string
            format: date-time
        - name: TimeZoneId
          in: query
          schema:
            title: Time Zone
            type: string
        - name: Tool
          in: query
          schema:
            title: Tool
            type: string
        - name: Refs|sf_WorkOrder
          in: query
          schema:
            title: Salesforce Project
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/Appointment({objectId})':
    get:
      tags:
        - Appointment
      description: Get Appointment
      operationId: get--Appointment
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Appointment-fields'
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '304':
          description: Not Modified
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    put:
      tags:
        - Appointment
      description: Update Appointment
      operationId: update--Appointment
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Appointment-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Appointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/Appointment/Filter:
    post:
      tags:
        - Appointment
      description: Filter Appointments
      operationId: filter--Appointment
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Appointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Appointment--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/Appointment:
    post:
      tags:
        - Appointment
      description: Create Appointment
      operationId: create--Appointment
      requestBody:
        description: Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create--Appointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/Appointment/Recent:
    post:
      tags:
        - Appointment
      description: Recent Appointments
      operationId: recent--Appointment
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Appointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Appointment--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/CompanyContact({objectId})/{formName}/DataForm':
    get:
      tags:
        - CompanyContact
      description: Get Form for Object
      operationId: GetFormForCompany
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Name
          in: query
          schema:
            title: Company Name
            type: string
        - name: ParentContactId
          in: query
          schema:
            title: Parent Company
            type: string
        - name: Role
          in: query
          schema:
            title: Company Type
            enum:
              - Carpenter
              - Custom Home Builder
              - Designer
              - Electrician
              - General Contractor
              - Handyman
              - Installer
              - Painter
              - Plumber
              - Property Manager
              - Realtor
              - Restoration Contractor
              - Vendor
            type: string
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: Tags
          in: query
          schema:
            title: Tags
            type: array
            items:
              type: string
        - name: Address
          in: query
          schema:
            title: Address
            type: string
        - name: City
          in: query
          schema:
            title: City
            type: string
        - name: State
          in: query
          schema:
            title: State
            type: string
        - name: PostalCode
          in: query
          schema:
            title: Postal Code
            type: string
        - name: Country
          in: query
          schema:
            title: Country
            type: string
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Location
          in: query
          schema:
            title: Location
        - name: LocationDistance
          in: query
          schema:
            title: Distance to Location
        - name: CreatorId
          in: query
          schema:
            title: Created By
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: Notes
          in: query
          schema:
            title: Notes
            type: string
        - name: PhoneNumbers|Description
          in: query
          schema:
            title: Description
            type: string
        - name: PhoneNumbers|PhoneNumber
          in: query
          schema:
            title: Phone Number
            type: string
            format: phone
        - name: PhoneNumbers|Type
          in: query
          schema:
            title: Type
            enum:
              - Fax
              - Fixed
              - Mobile
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/CompanyContact/{formName}/DataForm':
    get:
      tags:
        - CompanyContact
      description: Get Form for Object Type
      operationId: GetFormForTypeCompany
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Name
          in: query
          schema:
            title: Company Name
            type: string
        - name: ParentContactId
          in: query
          schema:
            title: Parent Company
            type: string
        - name: Role
          in: query
          schema:
            title: Company Type
            enum:
              - Carpenter
              - Custom Home Builder
              - Designer
              - Electrician
              - General Contractor
              - Handyman
              - Installer
              - Painter
              - Plumber
              - Property Manager
              - Realtor
              - Restoration Contractor
              - Vendor
            type: string
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: Tags
          in: query
          schema:
            title: Tags
            type: array
            items:
              type: string
        - name: Address
          in: query
          schema:
            title: Address
            type: string
        - name: City
          in: query
          schema:
            title: City
            type: string
        - name: State
          in: query
          schema:
            title: State
            type: string
        - name: PostalCode
          in: query
          schema:
            title: Postal Code
            type: string
        - name: Country
          in: query
          schema:
            title: Country
            type: string
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Location
          in: query
          schema:
            title: Location
        - name: LocationDistance
          in: query
          schema:
            title: Distance to Location
        - name: CreatorId
          in: query
          schema:
            title: Created By
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: Notes
          in: query
          schema:
            title: Notes
            type: string
        - name: PhoneNumbers|Description
          in: query
          schema:
            title: Description
            type: string
        - name: PhoneNumbers|PhoneNumber
          in: query
          schema:
            title: Phone Number
            type: string
            format: phone
        - name: PhoneNumbers|Type
          in: query
          schema:
            title: Type
            enum:
              - Fax
              - Fixed
              - Mobile
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/CompanyContact({objectId})':
    get:
      tags:
        - CompanyContact
      description: Get Company
      operationId: get--Company
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Company-fields'
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '304':
          description: Not Modified
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    put:
      tags:
        - CompanyContact
      description: Update Company
      operationId: update--Company
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Company-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Company--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    delete:
      tags:
        - CompanyContact
      description: Delete Company
      operationId: delete--Company
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Company-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/CompanyContact/Filter:
    post:
      tags:
        - CompanyContact
      description: Filter Companies
      operationId: filter--Company
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Company--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Company--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/CompanyContact:
    post:
      tags:
        - CompanyContact
      description: Create Company
      operationId: create--Company
      requestBody:
        description: Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create--Company--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/CompanyContact/Recent:
    post:
      tags:
        - CompanyContact
      description: Recent Companies
      operationId: recent--Company
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Company--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Company--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Contact({objectId})/UserAction(45b70320-0072-461b-b3da-08477e956d4b)/DataForm':
    get:
      tags:
        - Contact
      description: Add Note
      operationId: get--Contact--AddNote--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Content
          in: query
          schema:
            title: Notes
            type: string
        - name: Name
          in: query
          schema:
            title: Type
            enum:
              - Call
              - Other
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Contact
      description: Add Note
      operationId: run--Contact--AddNote--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Contact({objectId})/UserAction(45b70320-0072-461b-b3da-08477e956d4b)':
    post:
      tags:
        - Contact
      description: Add Note
      operationId: start--Contact--AddNote
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Contact--AddNote--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Contact({objectId})/UserAction(6020436b-12e1-4d6b-b201-6ce50f353d4a)/DataForm':
    get:
      tags:
        - Contact
      description: Add Task
      operationId: get--Contact--AddTask--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: DueDate
          in: query
          schema:
            title: Due Date
            type: string
            format: date
        - name: Priority
          in: query
          schema:
            title: Priority
            enum:
              - Default
              - High
              - Low
              - Urgent
            type: string
        - name: Name
          in: query
          schema:
            title: Type
            enum:
              - Call
              - Email
              - Other
              - ScheduleAppointment
              - ScheduleInstall
              - SendProposal
              - Visit
            type: string
        - name: Content
          in: query
          schema:
            title: Notes
            type: string
        - name: AssignedUserId
          in: query
          schema:
            title: Assign To
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Contact
      description: Add Task
      operationId: run--Contact--AddTask--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Contact({objectId})/UserAction(6020436b-12e1-4d6b-b201-6ce50f353d4a)':
    post:
      tags:
        - Contact
      description: Add Task
      operationId: start--Contact--AddTask
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Contact--AddTask--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Contact({objectId})/UserAction(0ab71aea-c6e7-41ca-9dbb-e5d5f34b6192)/DataForm':
    get:
      tags:
        - Contact
      description: Schedule Appointment
      operationId: get--Contact--AddAppointment--form
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Start
          in: query
          schema:
            title: Start
            type: string
            format: date-time
        - name: UserId
          in: query
          schema:
            title: User
            type: string
        - name: Name
          in: query
          schema:
            title: Title
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: Message
          in: query
          schema:
            title: Message to Contact
            type: string
        - name: SendEmail
          in: query
          schema:
            title: Send e-mail Invite
            type: boolean
        - name: Duration
          in: query
          schema:
            title: Duration
            enum:
              - '120'
              - '30'
              - '45'
              - '60'
              - '90'
            type: string
        - name: CopyAddress
          in: query
          schema:
            title: At their Location
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    post:
      tags:
        - Contact
      description: Schedule Appointment
      operationId: run--Contact--AddAppointment--action
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFormActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Contact({objectId})/UserAction(0ab71aea-c6e7-41ca-9dbb-e5d5f34b6192)':
    post:
      tags:
        - Contact
      description: Schedule Appointment
      operationId: start--Contact--AddAppointment
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Contact--AddAppointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFormActionResponse'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/Contact({objectId})/{formName}/DataForm':
    get:
      tags:
        - Contact
      description: Get Form for Object
      operationId: GetFormForContact
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Role
          in: query
          schema:
            title: Role
            type: string
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: Tags
          in: query
          schema:
            title: Tags
            type: array
            items:
              type: string
        - name: Address
          in: query
          schema:
            title: Address
            type: string
        - name: City
          in: query
          schema:
            title: City
            type: string
        - name: State
          in: query
          schema:
            title: State
            type: string
        - name: PostalCode
          in: query
          schema:
            title: Postal Code
            type: string
        - name: Country
          in: query
          schema:
            title: Country
            type: string
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Location
          in: query
          schema:
            title: Location
        - name: LocationDistance
          in: query
          schema:
            title: Distance to Location
        - name: CreatorId
          in: query
          schema:
            title: Created By
            type: string
        - name: ParentContactId
          in: query
          schema:
            title: Parent
            type: string
        - name: Type
          in: query
          schema:
            title: Type
            enum:
              - Company
              - Individual
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: Notes
          in: query
          schema:
            title: Notes
            type: string
        - name: PhoneNumbers|Description
          in: query
          schema:
            title: Description
            type: string
        - name: PhoneNumbers|PhoneNumber
          in: query
          schema:
            title: Phone Number
            type: string
            format: phone
        - name: PhoneNumbers|Type
          in: query
          schema:
            title: Type
            enum:
              - Fax
              - Fixed
              - Mobile
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/Contact/{formName}/DataForm':
    get:
      tags:
        - Contact
      description: Get Form for Object Type
      operationId: GetFormForTypeContact
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Role
          in: query
          schema:
            title: Role
            type: string
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: Tags
          in: query
          schema:
            title: Tags
            type: array
            items:
              type: string
        - name: Address
          in: query
          schema:
            title: Address
            type: string
        - name: City
          in: query
          schema:
            title: City
            type: string
        - name: State
          in: query
          schema:
            title: State
            type: string
        - name: PostalCode
          in: query
          schema:
            title: Postal Code
            type: string
        - name: Country
          in: query
          schema:
            title: Country
            type: string
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Location
          in: query
          schema:
            title: Location
        - name: LocationDistance
          in: query
          schema:
            title: Distance to Location
        - name: CreatorId
          in: query
          schema:
            title: Created By
            type: string
        - name: ParentContactId
          in: query
          schema:
            title: Parent
            type: string
        - name: Type
          in: query
          schema:
            title: Type
            enum:
              - Company
              - Individual
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: Notes
          in: query
          schema:
            title: Notes
            type: string
        - name: PhoneNumbers|Description
          in: query
          schema:
            title: Description
            type: string
        - name: PhoneNumbers|PhoneNumber
          in: query
          schema:
            title: Phone Number
            type: string
            format: phone
        - name: PhoneNumbers|Type
          in: query
          schema:
            title: Type
            enum:
              - Fax
              - Fixed
              - Mobile
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/Contact({objectId})':
    get:
      tags:
        - Contact
      description: Get Contact
      operationId: get--Contact
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Contact-fields'
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '304':
          description: Not Modified
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    put:
      tags:
        - Contact
      description: Update Contact
      operationId: update--Contact
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Contact-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Contact--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    delete:
      tags:
        - Contact
      description: Delete Contact
      operationId: delete--Contact
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Contact-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/Contact/Filter:
    post:
      tags:
        - Contact
      description: Filter Contacts
      operationId: filter--Contact
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Contact--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Contact--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/Contact:
    post:
      tags:
        - Contact
      description: Create Contact
      operationId: create--Contact
      requestBody:
        description: Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create--Contact--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/Contact/Recent:
    post:
      tags:
        - Contact
      description: Recent Contacts
      operationId: recent--Contact
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Contact--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Contact--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/ContactNote({objectId})/{formName}/DataForm':
    get:
      tags:
        - ContactNote
      description: Get Form for Object
      operationId: GetFormForContactNote
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Parent|ObjectId
          in: query
          schema:
            title: Contact
            type: string
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: Content
          in: query
          schema:
            title: Notes
            type: string
        - name: Description
          in: query
          schema:
            title: Details
            type: string
        - name: Name
          in: query
          schema:
            title: Interaction
            enum:
              - Call
              - Email
              - Other
              - Visit
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - communication
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: LastModifiedOn
          in: query
          schema:
            title: Last Modified
            type: string
            format: date-time
        - name: ContentType
          in: query
          schema:
            title: Content Type (MIME)
            enum:
              - application/json
              - text/html
              - text/plain
            type: string
        - name: CreatorId
          in: query
          schema:
            title: Creator
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active?
            type: boolean
        - name: RelatedObjects
          in: query
          schema:
            title: Related Objects
            type: object
            additionalProperties:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/ContactNote/{formName}/DataForm':
    get:
      tags:
        - ContactNote
      description: Get Form for Object Type
      operationId: GetFormForTypeContactNote
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Parent|ObjectId
          in: query
          schema:
            title: Contact
            type: string
        - name: FlowId
          in: query
          schema:
            title: Flow
            type: string
        - name: ObjectStatusId
          in: query
          schema:
            title: Object Status
            type: string
        - name: Content
          in: query
          schema:
            title: Notes
            type: string
        - name: Description
          in: query
          schema:
            title: Details
            type: string
        - name: Name
          in: query
          schema:
            title: Interaction
            enum:
              - Call
              - Email
              - Other
              - Visit
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - communication
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: CreatedOn
          in: query
          schema:
            title: Created
            type: string
            format: date-time
        - name: LastModifiedOn
          in: query
          schema:
            title: Last Modified
            type: string
            format: date-time
        - name: ContentType
          in: query
          schema:
            title: Content Type (MIME)
            enum:
              - application/json
              - text/html
              - text/plain
            type: string
        - name: CreatorId
          in: query
          schema:
            title: Creator
            type: string
        - name: EntityId
          in: query
          schema:
            title: Entity
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active?
            type: boolean
        - name: RelatedObjects
          in: query
          schema:
            title: Related Objects
            type: object
            additionalProperties:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/ContactNote({objectId})':
    get:
      tags:
        - ContactNote
      description: Get Contact Interaction
      operationId: get--ContactNote
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContactNote-fields'
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNote'
        '304':
          description: Not Modified
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    put:
      tags:
        - ContactNote
      description: Update Contact Interaction
      operationId: update--ContactNote
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContactNote-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--ContactNote--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNote'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/ContactNote/Filter:
    post:
      tags:
        - ContactNote
      description: Filter Contact Interactions
      operationId: filter--ContactNote
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ContactNote--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ContactNote--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/ContactNote:
    post:
      tags:
        - ContactNote
      description: Create Contact Interaction
      operationId: create--ContactNote
      requestBody:
        description: Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create--ContactNote--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNote'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/ContactNote/Recent:
    post:
      tags:
        - ContactNote
      description: Recent Contact Interactions
      operationId: recent--ContactNote
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ContactNote--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ContactNote--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/Entity({objectId})/{formName}/DataForm':
    get:
      tags:
        - Entity
      description: Get Form for Object
      operationId: GetFormForEntity
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - Account
              - Organization
              - User
            type: string
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Phone
          in: query
          schema:
            title: Phone
            type: string
            format: phone
        - name: TimeZoneId
          in: query
          schema:
            title: Time Zone
            type: string
        - name: OrganizationId
          in: query
          schema:
            title: Organization
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/Entity/{formName}/DataForm':
    get:
      tags:
        - Entity
      description: Get Form for Object Type
      operationId: GetFormForTypeEntity
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
          in: query
          schema:
            title: Description
            type: string
        - name: _id
          in: query
          schema:
            title: Id
            type: string
        - name: _t
          in: query
          schema:
            title: Type
            enum:
              - Account
              - Organization
              - User
            type: string
        - name: Email
          in: query
          schema:
            title: Email
            type: string
            format: email
        - name: Phone
          in: query
          schema:
            title: Phone
            type: string
            format: phone
        - name: TimeZoneId
          in: query
          schema:
            title: Time Zone
            type: string
        - name: OrganizationId
          in: query
          schema:
            title: Organization
            type: string
        - name: IsActive
          in: query
          schema:
            title: Active
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/Entity({objectId})':
    get:
      tags:
        - Entity
      description: Get Entity
      operationId: get--Entity
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Entity-fields'
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '304':
          description: Not Modified
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/Entity/Filter:
    post:
      tags:
        - Entity
      description: Filter Entity
      operationId: filter--Entity
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Entity--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Entity--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /app/api/Object/Entity/Recent:
    post:
      tags:
        - Entity
      description: Recent Entity
      operationId: recent--Entity
      requestBody:
        description: Filter Criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Entity--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Entity--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/app/api/Object/EntityOwnedModel({objectId})/{formName}/DataForm':
    get:
      tags:
        - EntityOwnedModel
      description: Get Form for Object
      operationId: GetFormForEntityOwnedModel
      parameters:
        - name: formName
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Name
          in: query
          schema:
            title: Name
            type: string
        - name: Description
[...]
