openapi: 3.0.1
info:
  title: ProgramInterface.com
  description: ProgramInterface.com API client
  contact:
    name: ProgramInterface.com
    url: https://www.ProgramInterface.com
    email: programinterface@programinterface.com
  version: 0.0.1
servers:
  - url: https://api.fci.cloud
  - url: https://api.inspirenet.cloud
paths:
  '/rest/v1/Object/{objectType}({objectId})/EditForm':
    get:
      tags:
        - Generic
      description: Get Form to edit Object
      operationId: GetEditForm
      parameters:
        - name: objectType
          in: path
          required: true
          schema:
            type: string
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Appointment({objectId})/UserAction(b1a3f1ab-0666-49a5-a3a6-ee419fc888fe)':
    post:
      tags:
        - Appointment
      description: Send Confirmation Email
      operationId: start--Appointment--SendCustomAppointmentConfirmationEmail
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--SendCustomAppointmentConfirmationEmail--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Appointment({objectId})/UserAction(f1de146a-64a6-4895-84ac-1362613ba34c)':
    post:
      tags:
        - Appointment
      description: Send Email
      operationId: start--Appointment--SendAppointmentConfirmationEmail
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--SendAppointmentConfirmationEmail--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Appointment({objectId})/UserAction(2e8f1aa3-6d5f-449f-8036-141782333508)':
    post:
      tags:
        - Appointment
      description: Send "I am on my way"...
      operationId: start--Appointment--SendOMWSMS
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--SendOMWSMS--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Appointment({objectId})/UserAction(bf2ea2a0-f5b1-4781-ac85-11a001dfabfe)':
    post:
      tags:
        - Appointment
      description: Send "Upcoming appointment"...
      operationId: start--Appointment--SendUpcomingAppointmentReminder
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--SendUpcomingAppointmentReminder--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Appointment({objectId})/UserAction(d53bd8ec-69fa-4983-9a79-831ebf904b5e)':
    post:
      tags:
        - Appointment
      description: Call
      operationId: start--Appointment--InitiateCallWithOpenPhone
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Appointment({objectId})/UserAction(f277675f-15a9-45c5-a226-b5f5ea382252)':
    post:
      tags:
        - Appointment
      description: Send SMS message that you are on your way to the Appoointment
      operationId: start--Appointment--InitiateOMWSMS
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--InitiateOMWSMS--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Appointment({objectId})/UserAction(853b8829-05d3-4404-ab5a-ec6db57e5f57)':
    post:
      tags:
        - Appointment
      description: Send SMS with the time and date of Upcoming Appointment
      operationId: start--Appointment--InitiateSMSForUpcomingApppointment
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Appointment--InitiateSMSForUpcomingApppointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/Appointment/Filter:
    post:
      tags:
        - Appointment
      description: Filter Appointment
      operationId: filter--Appointment
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Appointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Appointment--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/Appointment:
    post:
      tags:
        - Appointment
      description: Create Appointment
      operationId: create--Appointment
      requestBody:
        description: Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create--Appointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Object/Appointment({objectId})':
    put:
      tags:
        - Appointment
      description: Update Appointment
      operationId: update--Appointment
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Appointment-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Appointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/Entity/Filter:
    post:
      tags:
        - Entity
      description: Filter Entity
      operationId: filter--Entity
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Entity--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Entity--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(90e2791a-8a3a-46af-915e-47b4ed48c159)':
    post:
      tags:
        - Lead
      description: Export to Salesforce
      operationId: start--Lead--ExportToSalesforce
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--ExportToSalesforce--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(39df2cd6-7461-4700-be80-5ba32eb1dd7c)':
    post:
      tags:
        - Lead
      description: Send SMS
      operationId: start--Lead--SendCustomSMS
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--SendCustomSMS--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(0522eac0-e45a-4b23-9143-431691e4d559)':
    post:
      tags:
        - Lead
      description: Edit Next Appointment
      operationId: start--Lead--EditNextAppointment
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--EditNextAppointment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(5a39451b-c2a4-4a33-bafd-2bc2d803fa83)':
    post:
      tags:
        - Lead
      description: Create Invoice
      operationId: start--Lead--CreateInvoice
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--CreateInvoice--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(7be67336-22eb-4f19-90ad-a0702f1ace35)':
    post:
      tags:
        - Lead
      description: SMS Campaign
      operationId: start--Lead--StartSMSCampaign
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--StartSMSCampaign--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(f69e0c92-ef52-43d5-bef5-67c4da6466cc)':
    post:
      tags:
        - Lead
      description: Take Snapshot of Lead View
      operationId: start--Lead--TakeSnapshot
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--TakeSnapshot--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(1267ab56-a588-442b-aaf6-8fb03f2be0d1)':
    post:
      tags:
        - Lead
      description: Email Campaign queued
      operationId: start--Lead--QueueEmailCampaign
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--QueueEmailCampaign--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(cb3039a6-11a3-486a-8322-643c99da6ef7)':
    post:
      tags:
        - Lead
      description: Send "I am on my way"...
      operationId: start--Lead--SendOMWSMS
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--SendOMWSMS--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(2828eb9a-53b7-431e-b1c6-3b2fa1e13f18)':
    post:
      tags:
        - Lead
      description: Send "Remember me?"...
      operationId: start--Lead--SendRememberMeSMS
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--SendRememberMeSMS--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(8677f665-a2f2-4b4a-a1f4-3d912edc3a37)':
    post:
      tags:
        - Lead
      description: Schedule Appointment
      operationId: start--Lead--ScheduleAppointment
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(a0cf90d0-0915-4112-81e5-a9e9cf32e679)':
    post:
      tags:
        - Lead
      description: Get Directions...
      operationId: start--Lead--GetDirections
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(b0e4c38c-1ee4-44ab-b857-435af07066a4)':
    post:
      tags:
        - Lead
      description: Send Email
      operationId: start--Lead--SendCustomEmail
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--SendCustomEmail--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(5711c06f-6b25-4354-9e8d-632c36ac9614)':
    post:
      tags:
        - Lead
      description: Schedule Follow up
      operationId: start--Lead--ScheduleFollowUp
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--ScheduleFollowUp--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(526aa877-501a-4289-b6a2-665fa3ce647e)':
    post:
      tags:
        - Lead
      description: Create Task
      operationId: start--Lead--CreateTask
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--CreateTask--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Lead({objectId})/UserAction(fd782493-092e-4f8a-b757-aad1b0a2db3d)':
    post:
      tags:
        - Lead
      description: Trigger Zap
      operationId: start--Lead--StartZapp
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start--Lead--StartZapp--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-action-response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/Lead/Filter:
    post:
      tags:
        - Lead
      description: Filter Lead
      operationId: filter--Lead
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Lead--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Lead--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/Lead:
    post:
      tags:
        - Lead
      description: Create Lead
      operationId: create--Lead
      requestBody:
        description: Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create--Lead--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Object/Lead({objectId})':
    put:
      tags:
        - Lead
      description: Update Lead
      operationId: update--Lead
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Lead-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Lead--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/Organization/Filter:
    post:
      tags:
        - Organization
      description: Filter Organization
      operationId: filter--Organization
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Organization--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Organization--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/User/Filter:
    post:
      tags:
        - User
      description: Filter User
      operationId: filter--User
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--User--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--User--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.Account/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Customer: Synced Salesforce Object'
      operationId: filter--Customer
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Customer--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Customer--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Object/salesforce.Account({objectId})':
    put:
      tags:
        - salesforce
      description: 'Update Customer: Synced Salesforce Object'
      operationId: update--Customer
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Customer-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Customer--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.INET_ExternalLink__c/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter ExternalLink: Synced Salesforce Object'
      operationId: filter--ExternalLink
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ExternalLink--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ExternalLink--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Object/salesforce.INET_ExternalLink__c({objectId})':
    put:
      tags:
        - salesforce
      description: 'Update ExternalLink: Synced Salesforce Object'
      operationId: update--ExternalLink
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ExternalLink-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--ExternalLink--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLink'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.INET_MaterialAssignment__c/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Material Assignment: Synced Salesforce Object'
      operationId: filter--MaterialAssignment
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--MaterialAssignment--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--MaterialAssignment--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.INET_OptionLineItem__c/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Option Line Item: Synced Salesforce Object'
      operationId: filter--proposalLine
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--proposalLine--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--proposalLine--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.INET_Option__c/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Option: Synced Salesforce Object'
      operationId: filter--Proposal
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Proposal--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Proposal--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.INET_Room__c/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Room: Synced Salesforce Object'
      operationId: filter--Room
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Room--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Room--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.INET_SectionLineItem__c/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Section Line Item: Synced Salesforce Object'
      operationId: filter--SectionLine
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--SectionLine--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--SectionLine--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Object/salesforce.INET_SectionLineItem__c({objectId})':
    put:
      tags:
        - salesforce
      description: 'Update Section Line Item: Synced Salesforce Object'
      operationId: update--SectionLine
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SectionLine-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--SectionLine--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionLine'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.INET_Section__c/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Section: Synced Salesforce Object'
      operationId: filter--Section
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Section--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Section--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Object/salesforce.INET_Section__c({objectId})':
    put:
      tags:
        - salesforce
      description: 'Update Section: Synced Salesforce Object'
      operationId: update--Section
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Section-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Section--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.Lead/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Lead: Synced Salesforce Object'
      operationId: filter--Lead2
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Lead2--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Lead2--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/salesforce/v1/Object/salesforce.Lead({objectId})':
    put:
      tags:
        - salesforce
      description: 'Update Lead: Synced Salesforce Object'
      operationId: update--Lead2
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Lead2-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Lead2--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead2'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.Product2/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Product: Synced Salesforce Object'
      operationId: filter--ProductItem
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--ProductItem--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--ProductItem--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.WorkOrder/Filter:
    post:
      tags:
        - salesforce
      description: 'Filter Project: Synced Salesforce Object'
      operationId: filter--Project
      requestBody:
        description: Request Filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter--Project--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filter--Project--response'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  /rest/v1/Object/salesforce.WorkOrder:
    post:
      tags:
        - salesforce
      description: 'Create Project: Synced Salesforce Object'
      operationId: create--Project
      requestBody:
        description: Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create--Project--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
  '/rest/v1/Object/salesforce.WorkOrder({objectId})':
    put:
      tags:
        - salesforce
      description: 'Update Project: Synced Salesforce Object'
      operationId: update--Project
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Project-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      requestBody:
        description: Properties to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update--Project--request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
    delete:
      tags:
        - salesforce
      description: 'Delete Project: Synced Salesforce Object'
      operationId: delete--Project
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fields
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Project-fields'
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-pi-response-error'
      security:
        - ProductionIDP:
            - rest
          TestIDP:
            - rest
components:
  schemas:
    api-pi-response-error:
      title: API Error
      type: object
      properties:
        statusCode:
          title: Http Status Code
          maximum: 600
          minimum: 300
          type: integer
          description: HTTP Response Status Code
        message:
          title: Error Message
          type: string
          description: API Error Message
        success:
          title: Success
          type: boolean
          description: Whether the request was successful. Always false
          default: false
      description: 'System: Response Body on API Error'
    api-pi-condition-operator:
      title: Condition Operator
      enum:
        - Eq
        - Gt
        - Gte
        - In
        - Lt
        - Lte
        - Ne
        - Nin
      type: string
      description: 'System: Condition Operator'
      x-enum-varnames:
        - Equal
        - GreaterThan
        - GreaterThanOrEqual
        - In
        - LessThan
        - LessThanOrEqual
        - NotEqual
        - NotIn
      x-enum-descriptions:
        - Equal
        - Greater Than
        - Greater Than Or Equal
        - In
        - Less Than
        - Less Than Or Equal
        - Not Equal
        - Not In
    api-pi-action-response:
      title: Object Action Response
      type: object
      properties:
        message:
          title: Error Message
          type: string
          description: Error Message
        success:
          title: Success
          type: boolean
          description: Whether the action was initiated successfully or not
        nextUrl:
          title: Next URL
          type: string
          description: Url to be launched next
          format: uri
        runId:
          title: Run Id
          type: string
          description: 'Id of the flow run initiated by this action, if any.'
          format: uuid
      description: Response to initiating an Object Action
    DateRangePreset:
      title: Date Range Preset
      required:
        - Range
      type: object
      properties:
        Name:
          title: Name
          type: string
        Range:
          title: Range
          type: string
      description: Date Range Preset
    Condition:
      title: Filter Condition
      required:
        - FieldName
        - Operator
        - Value
      type: object
      properties:
        FieldName:
          title: Field Name
        Operator:
          title: Operator
          enum:
            - Eq
            - Gt
            - Gte
            - In
            - Lt
            - Lte
            - Ne
            - Nin
          type: string
        Value:
          title: Value
      description: Filter Condition
    UIElement:
      title: base for UI objects
      required:
        - Name
      type: object
      properties:
        Name:
          title: Name
          type: string
        Label:
          title: Label
          type: string
        Enable:
          title: Enable
        Visible:
          title: Visible
      description: base for UI objects
    FieldOptions:
      title: Base type for field options
      required:
        - _t
      type: object
      properties:
        _t:
          title: Type
          enum:
            - AddressFieldOptions
            - ArrayFieldOptions
            - BitwiseFlagFieldOptions
            - CheckboxFieldOptions
            - ChildrenFieldOptions
            - DateRangeFieldOptions
            - DictionaryFieldOptions
            - EmailFieldOptions
            - FileFieldOptions
            - GenericFieldOptions
            - HiddenFieldOptions
            - LabelFieldOptions
            - LookupFieldOptions
            - MultiReferenceFieldOptions
            - MultiSelectFieldOptions
            - NumberFieldOptions
            - ObjectFieldOptions
            - PasswordFieldOptions
            - PhoneFieldOptions
            - PostalCodeFieldOptions
            - ReferenceFieldOptions
            - RelatedObjectsFieldOptions
            - SelectFieldOptions
            - TagsFieldOptions
            - TextFieldOptions
            - TimeFieldOptions
            - UrlFieldOptions
          type: string
        LinkUrl:
          title: Link Url
          type: string
        LinkLabel:
          title: Link Label
          type: string
      description: Base type for field options
      discriminator:
        propertyName: _t
        mapping:
          ArrayFieldOptions: '#/components/schemas/ArrayFieldOptions'
          CheckboxFieldOptions: '#/components/schemas/CheckboxFieldOptions'
          ChildrenFieldOptions: '#/components/schemas/ChildrenFieldOptions'
          DateRangeFieldOptions: '#/components/schemas/DateRangeFieldOptions'
          DictionaryFieldOptions: '#/components/schemas/DictionaryFieldOptions'
          FileFieldOptions: '#/components/schemas/FileFieldOptions'
          GenericFieldOptions: '#/components/schemas/GenericFieldOptions'
          HiddenFieldOptions: '#/components/schemas/HiddenFieldOptions'
          LabelFieldOptions: '#/components/schemas/LabelFieldOptions'
          MultiReferenceFieldOptions: '#/components/schemas/MultiReferenceFieldOptions'
          MultiSelectFieldOptions: '#/components/schemas/MultiSelectFieldOptions'
          NumberFieldOptions: '#/components/schemas/NumberFieldOptions'
          ObjectFieldOptions: '#/components/schemas/ObjectFieldOptions'
          PasswordFieldOptions: '#/components/schemas/PasswordFieldOptions'
          PhoneFieldOptions: '#/components/schemas/PhoneFieldOptions'
          PostalCodeFieldOptions: '#/components/schemas/PostalCodeFieldOptions'
          ReferenceFieldOptions: '#/components/schemas/ReferenceFieldOptions'
          SelectFieldOptions: '#/components/schemas/SelectFieldOptions'
          TagsFieldOptions: '#/components/schemas/TagsFieldOptions'
          TextFieldOptions: '#/components/schemas/TextFieldOptions'
          TimeFieldOptions: '#/components/schemas/TimeFieldOptions'
          UrlFieldOptions: '#/components/schemas/UrlFieldOptions'
          LookupFieldOptions: '#/components/schemas/LookupFieldOptions'
          RelatedObjectsFieldOptions: '#/components/schemas/RelatedObjectsFieldOptions'
          BitwiseFlagFieldOptions: '#/components/schemas/BitwiseFlagFieldOptions'
    MenuItem:
      title: Menu Item
      required:
        - _t
      type: object
      allOf:
        - $ref: '#/components/schemas/UIElement'
      properties:
        Icon:
          title: Icon
          type: string
        _t:
          title: Type
          enum:
            - ActionMenuItem
            - Menu
            - MenuItem
            - PageMenuItem
          type: string
      description: Menu Item
      discriminator:
        propertyName: _t
        mapping:
          Menu: '#/components/schemas/Menu'
    FormLayout:
      title: Form Layout
      required:
        - Breakpoint
        - _t
      type: object
      properties:
        Breakpoint:
          title: Breakpoint
          enum:
            - lg
            - md
            - sm
            - xl
            - xs
          type: string
        _t:
          title: Type
          enum:
            - GridFormLayout
          type: string
          example: GridFormLayout
      description: Form Layout
      discriminator:
        propertyName: _t
        mapping:
          GridFormLayout: '#/components/schemas/GridFormLayout'
    GridFormRowLayout:
      title: Grid Form Row Layout
      required:
        - Fields
      type: object
      properties:
        Fields:
          title: Fields
          type: array
          items:
            $ref: '#/components/schemas/GridFormFieldLayout'
      description: Grid Form Row Layout
    GridFormFieldLayout:
      title: Grid Form Field Layout
      required:
        - Name
        - Width
      type: object
      properties:
        Name:
          title: Field Name
          type: string
        Width:
          title: Width
          type: integer
      description: Grid Form Field Layout
    Field:
      title: Form Field
      required:
        - _t
      type: object
      allOf:
        - $ref: '#/components/schemas/UIElement'
      properties:
        _t:
          title: Type
          enum:
            - AddressField
            - ArrayField
            - BitwiseFlagField
            - CalculatedField
            - CheckboxField
            - ChildrenField
            - DateField
            - DateRangeField
            - DateTimeField
            - DictionaryField
            - EmailField
            - ExpressionField
            - FileField
            - GenericField
            - HiddenField
            - ImageField
            - LabelField
            - LocationDistanceField
            - LocationField
            - LookupField
            - MultiReferenceField
            - MultiSelectField
            - NumberField
            - ObjectField
            - PasswordField
            - PhoneField
            - PostalCodeField
            - ReferenceField
            - RelatedObjectsField
            - SelectField
            - TagsField
            - TextField
            - TimeField
            - UrlField
          type: string
        Description:
          title: Description
          type: string
        ApiName:
          title: ApiName
          type: string
        DefaultValue:
          title: Default Value
        IsRequired:
          title: Required?
          type: boolean
        Options:
          $ref: '#/components/schemas/FieldOptions'
      description: Form Field
      discriminator:
        propertyName: _t
        mapping:
          AddressField: '#/components/schemas/AddressField'
          ArrayField: '#/components/schemas/ArrayField'
          CheckboxField: '#/components/schemas/CheckboxField'
          ChildrenField: '#/components/schemas/ChildrenField'
          DateField: '#/components/schemas/DateField'
          DateRangeField: '#/components/schemas/DateRangeField'
          DateTimeField: '#/components/schemas/DateTimeField'
          DictionaryField: '#/components/schemas/DictionaryField'
          EmailField: '#/components/schemas/EmailField'
          FileField: '#/components/schemas/FileField'
          GenericField: '#/components/schemas/GenericField'
          HiddenField: '#/components/schemas/HiddenField'
          LabelField: '#/components/schemas/LabelField'
          MultiReferenceField: '#/components/schemas/MultiReferenceField'
          MultiSelectField: '#/components/schemas/MultiSelectField'
          NumberField: '#/components/schemas/NumberField'
          ObjectField: '#/components/schemas/ObjectField'
          PasswordField: '#/components/schemas/PasswordField'
          PhoneField: '#/components/schemas/PhoneField'
          PostalCodeField: '#/components/schemas/PostalCodeField'
          ReferenceField: '#/components/schemas/ReferenceField'
          SelectField: '#/components/schemas/SelectField'
          TagsField: '#/components/schemas/TagsField'
          TextField: '#/components/schemas/TextField'
          TimeField: '#/components/schemas/TimeField'
          UrlField: '#/components/schemas/UrlField'
          LookupField: '#/components/schemas/LookupField'
          RelatedObjectsField: '#/components/schemas/RelatedObjectsField'
          BitwiseFlagField: '#/components/schemas/BitwiseFlagField'
    Form:
      title: Form
      required:
        - Name
      type: object
      properties:
        Name:
          title: Name
          type: string
        Title:
          title: Title
          type: string
        IsReadOnly:
          title: Read Only
          type: boolean
        Fields:
          title: Fields
          type: array
          items:
            $ref: '#/components/schemas/Field'
        Menu:
          $ref: '#/components/schemas/Menu'
        ObjectType:
          title: Object Type
          type: string
        _id:
          title: Id
          type: string
          format: uuid
        Layouts:
          title: Layouts
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FormLayout'
      description: Form
    SelectFieldOptions:
      title: Options for Select Field
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        Items:
          title: Items
      description: Options for Select Field
    ReferenceFieldOptions:
      title: 'Options for Reference Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/SelectFieldOptions'
      properties:
        ObjectType:
          title: Object Type
          type: string
        AutoComplete:
          title: Auto Complete
          type: boolean
        ForeignFieldName:
          title: Foreign Field Name
          type: string
        Criteria:
          title: Criteria
          type: array
          items:
            $ref: '#/components/schemas/Condition'
        JoinBehavior:
          title: Join Behavior
          enum:
            - Exclude
            - FilterOnly
            - Unsafe
          type: string
        Actions:
          title: Actions
          type: array
          items:
            $ref: '#/components/schemas/FormAction'
        ContributeUserEvents:
          title: Contribute Events To
          enum:
            - Always
            - Form
            - Never
            - View
          type: string
      description: 'Options for Reference Field '
      discriminator:
        propertyName: _t
        mapping:
          MultiReferenceFieldOptions: '#/components/schemas/MultiReferenceFieldOptions'
    AddressField:
      title: Address Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Address Field
    ArrayField:
      title: Array Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Array Field
    ArrayFieldOptions:
      title: Options for Array Field
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        ValueField:
          $ref: '#/components/schemas/Field'
      description: Options for Array Field
    BitwiseFlagField:
      title: Bitwise Flag Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Bitwise Flag Field
    BitwiseFlagFieldOptions:
      title: Bitwise Flag Field Options
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        Items:
          title: Items
      description: Bitwise Flag Field Options
    CheckboxField:
      title: Checkbox Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Checkbox Field
    CheckboxFieldOptions:
      title: 'Options for Checkbox Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        Style:
          title: Style
          enum:
            - Button
            - Default
            - Dropdown
            - Toggle
          type: string
      description: 'Options for Checkbox Field '
    ChildrenField:
      title: Children Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Children Field
    ChildrenFieldOptions:
      title: 'Options for Children Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        Url:
          title: Url
          type: string
        ObjectType:
          title: Object Type
          type: string
        KeyType:
          title: Key Type
          enum:
            - int
            - string
          type: string
        Criteria:
          title: Criteria
          type: array
          items:
            $ref: '#/components/schemas/Condition'
        KeyField:
          $ref: '#/components/schemas/Field'
      description: 'Options for Children Field '
    DateField:
      title: Date Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Date Field
    DateRangeField:
      title: Date Range Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Date Range Field
    DateRangeFieldOptions:
      title: 'Options for DateRange Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        Min:
          title: Min
          type: string
        Max:
          title: Max
          type: string
        DateRangePreset:
          title: Presets
          type: array
          items:
            $ref: '#/components/schemas/DateRangePreset'
      description: 'Options for DateRange Field '
    DateTimeField:
      title: Date Time Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Date Time Field
    DictionaryField:
      title: Dictionary Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Dictionary Field
    DictionaryFieldOptions:
      title: 'Options for Dictionary Field '
      required:
        - KeyField
        - ValueField
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        ExpandAllKeys:
          title: Expand All Keys
          type: boolean
        KeyField:
          $ref: '#/components/schemas/Field'
        ValueField:
          $ref: '#/components/schemas/Field'
      description: 'Options for Dictionary Field '
    EmailField:
      title: Email Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Email Field
    FileField:
      title: File Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: File Field
    FileFieldOptions:
      title: 'Options for File Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        ContentTypes:
          title: Content Types
          type: array
          items:
            type: string
      description: 'Options for File Field '
    FormAction:
      title: Form Action
      type: object
      allOf:
        - $ref: '#/components/schemas/UIElement'
      properties:
        Action:
          title: Action
          type: string
      description: Form Action
    GenericField:
      title: Generic Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Generic Field
    GenericFieldOptions:
      title: 'Options for Generic Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      description: 'Options for Generic Field '
    GridFormLayout:
      title: Grid Form Layout
      required:
        - Rows
      type: object
      allOf:
        - $ref: '#/components/schemas/FormLayout'
      properties:
        Rows:
          title: Rows
          type: array
          items:
            $ref: '#/components/schemas/GridFormRowLayout'
      description: Grid Form Layout
    HiddenField:
      title: Hidden Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Hidden Field
    HiddenFieldOptions:
      title: 'Options for Hidden Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      description: 'Options for Hidden Field '
    LabelField:
      title: Label Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Label Field
    LabelFieldOptions:
      title: 'Options for Label Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        Style:
          title: Style
          enum:
            - Button
            - Header
            - HTML
            - Normal
            - Subheader
            - Subheader2
          type: string
        Color:
          title: Color
          enum:
            - Default
            - Error
            - Primary
            - Secondary
            - TextPrimary
            - TextSecondary
          type: string
      description: 'Options for Label Field '
    LookupField:
      title: Lookup Field (DEPRECATED)
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Lookup Field (DEPRECATED)
    LookupFieldOptions:
      title: Options for Lookup Field (DEPRECATED)
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      description: Options for Lookup Field (DEPRECATED)
    Menu:
      title: Menu Object
      type: object
      allOf:
        - $ref: '#/components/schemas/MenuItem'
      properties:
        Collapsible:
          title: Collapsible
          type: boolean
        Items:
          title: Items
          type: array
          items:
            $ref: '#/components/schemas/MenuItem'
          description: Items
      description: Menu Object
    MultiReferenceField:
      title: MultiReference Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: MultiReference Field
    MultiReferenceFieldOptions:
      title: 'Options for MultiReference Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/ReferenceFieldOptions'
      description: 'Options for MultiReference Field '
    MultiSelectField:
      title: MultiSelect Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: MultiSelect Field
    MultiSelectFieldOptions:
      title: 'Options for MultiSelect Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/SelectFieldOptions'
      description: 'Options for MultiSelect Field '
    NumberField:
      title: Number Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Number Field
    NumberFieldOptions:
      title: 'Options for Number Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        DecimalPlaces:
          title: Decimal Places
          type: integer
          example: 0
        Minimum:
          title: Minimum
          type: number
        Maximum:
          title: Maximum
          type: number
        ExcludeMaximum:
          title: Exclude Maximum
          type: boolean
        ExcludeMinimum:
          title: Exclude Minimum
          type: boolean
        MultipleOf:
          title: Multiple Of
          type: number
        Style:
          title: Style
          enum:
            - Currency
            - Default
            - Price
            - Rating
          type: string
      description: 'Options for Number Field '
    ObjectField:
      title: Object Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Object Field
    ObjectFieldOptions:
      title: 'Options for Object Field '
      required:
        - ObjectType
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        ObjectType:
          title: Object Type
          type: string
      description: 'Options for Object Field '
    Page:
      title: UI Page
      type: object
      allOf:
        - $ref: '#/components/schemas/UIElement'
      properties:
        _t:
          title: Type
          enum:
            - CustomPage
            - ExternalPage
            - FormPage
            - GridPage
            - LayoutPage
          type: string
        AppMenu:
          title: Top Level Menu Name (to load)
          type: string
        Menu:
          $ref: '#/components/schemas/Menu'
      description: UI Page
      discriminator:
        propertyName: _t
        mapping:
          FormPage: '#/components/schemas/FormPage'
          GridPage: '#/components/schemas/GridPage'
          ExternalPage: '#/components/schemas/ExternalPage'
          CustomPage: '#/components/schemas/CustomPage'
    PasswordField:
      title: Password Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Password Field
    PasswordFieldOptions:
      title: 'Options for Password Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      description: 'Options for Password Field '
    PhoneField:
      title: Phone Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Phone Field
    PhoneFieldOptions:
      title: 'Options for Phone Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        AutoFormat:
          title: Format Automatically
          enum:
            - International
            - National
            - None
          type: string
      description: 'Options for Phone Field '
    PostalCodeField:
      title: PostalCode Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: PostalCode Field
    PostalCodeFieldOptions:
      title: 'Options for PostalCode Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      description: 'Options for PostalCode Field '
    ReferenceField:
      title: Reference Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Reference Field
    RelatedObjectsField:
      title: RelatedObjects Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: RelatedObjects Field
    RelatedObjectsFieldOptions:
      title: 'Options for RelatedObjects Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      description: 'Options for RelatedObjects Field '
    RemoteFileFieldOptions:
      title: Options for Remote File Field
      type: object
      allOf:
        - $ref: '#/components/schemas/ReferenceFieldOptions'
      description: Options for Remote File Field
    SelectField:
      title: Select Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Select Field
    TagsField:
      title: Tags Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Tags Field
    TagsFieldOptions:
      title: 'Options for Tags Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        Url:
          title: Url
          type: string
          description: Lookup url. "id" will be replaced with parent id
          format: uri
      description: 'Options for Tags Field '
    TextField:
      title: Text Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Text Field
    TextFieldOptions:
      title: 'Options for Text Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      properties:
        Multline:
          title: Multiple Lines
          type: boolean
        ContentType:
          title: Content Type
          enum:
            - text/html
            - text/plain
          type: string
        Format:
          title: Format
          type: string
        MaxLength:
          title: Max Length
          type: integer
        AllowExpressions:
          title: Allow Expressions
          type: boolean
      description: 'Options for Text Field '
    TimeField:
      title: Time Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Time Field
    TimeFieldOptions:
      title: 'Options for Time Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      description: 'Options for Time Field '
    UrlField:
      title: Url Field
      type: object
      allOf:
        - $ref: '#/components/schemas/Field'
      description: Url Field
    UrlFieldOptions:
      title: 'Options for Url Field '
      type: object
      allOf:
        - $ref: '#/components/schemas/FieldOptions'
      description: 'Options for Url Field '
    start--Appointment--SendCustomAppointmentConfirmationEmail--request:
      title: Request body for SendCustomAppointmentConfirmationEmail
      type: object
      properties:
        UnlayerTemplateId:
          title: Template
          type: string
    start--Appointment--SendAppointmentConfirmationEmail--request:
      title: Request body for SendAppointmentConfirmationEmail
      type: object
      properties:
        Description:
          title: Subject
          type: string
          example: Your appointment has been confirmed!
        UnlayerTemplateId:
          title: Template
          type: string
        Message:
          title: 'Messsage ({{InitialEvent.MetaValues.Message}})'
          type: string
    start--Appointment--SendOMWSMS--request:
      title: Request body for SendOMWSMS
      type: object
      properties:
        PhoneNumber:
          title: Phone Number
          type: string
          example: '{{Objects.Appointment|LeadId.NormalizedPhoneNumber}}'
        Description:
          title: Message
          type: string
          example: 'Hi {{Objects.Appointment|LeadId.FirstName}}. Just to let you know that I am on my way and should get there in 15minutes --{{Objects.User.Name}}'
    start--Appointment--SendUpcomingAppointmentReminder--request:
      title: Request body for SendUpcomingAppointmentReminder
      type: object
      properties:
        PhoneNumber:
          title: Phone Number
          type: string
          example: '{{Objects.Appointment|LeadId.NormalizedPhoneNumber}}'
        Description:
          title: Message
          type: string
          example: 'Hi {{Objects.Appointment|LeadId.FirstName}}. I look forward to our appointment on {{Object.LocalDate}} at {{Object.LocalTime}}. Let me know if you have any questions or need to make any other arrangements. --{{Objects.User.Name}}'
    start--Appointment--InitiateOMWSMS--request:
      title: Request body for InitiateOMWSMS
      type: object
      properties:
        PhoneNumber:
          title: Phone Number
          type: string
          example: '{{Objects.Appointment|LeadId.NormalizedPhoneNumber}}'
        Description:
          title: Message
          type: string
          example: 'Hi {{firstName Objects.Appointment|LeadId.Name}}. we can''t wait to meet you --{{firstName Objects.User.Name}}'
      description: Send SMS message that you are on your way to the Appoointment
    start--Appointment--InitiateSMSForUpcomingApppointment--request:
      title: Request body for InitiateSMSForUpcomingApppointment
      type: object
      properties:
        PhoneNumber:
          title: Phone Number
          type: string
          example: '{{Objects.Appointment|LeadId.NormalizedPhoneNumber}}'
        Description:
          title: Message
          type: string
          example: 'Hi {{Objects.Appointment|LeadId.FirstName}}. I look forward to our appointment on {{Object.LocalDate}} at {{Object.LocalTime}}. Let me know if you have any questions or need to make any other arrangements. --{{Objects.User.Name}} check out my reviews at www.google.com'
      description: Send SMS with the time and date of Upcoming Appointment
    Appointment--actions:
      title: Appointment Actions
      enum:
        - b1a3f1ab-0666-49a5-a3a6-ee419fc888fe
        - f1de146a-64a6-4895-84ac-1362613ba34c
        - 2e8f1aa3-6d5f-449f-8036-141782333508
        - bf2ea2a0-f5b1-4781-ac85-11a001dfabfe
        - d53bd8ec-69fa-4983-9a79-831ebf904b5e
        - f277675f-15a9-45c5-a226-b5f5ea382252
        - 853b8829-05d3-4404-ab5a-ec6db57e5f57
      type: string
      description: Appointment Event Ids
      x-enum-varnames:
        - SendCustomAppointmentConfirmationEmail
        - SendAppointmentConfirmationEmail
        - SendOMWSMS
        - SendUpcomingAppointmentReminder
        - InitiateCallWithOpenPhone
        - InitiateOMWSMS
        - InitiateSMSForUpcomingApppointment
      x-enum-descriptions:
        - Send Confirmation Email
        - Send Email
        - Send "I am on my way"...
        - Send "Upcoming appointment"...
        - Call
        - Send "I am on my way"...
        - Upcoming Apppointment
    Appointment:
      title: Appointment
      type: object
      properties:
        _id:
          title: ID
          type: string
          format: uuid
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        userId:
          title: User
          type: string
        createdByUserId:
          title: Created By
          type: string
        leadId:
          title: Lead
          type: string
        localDate:
          title: Local Date
          type: string
        localTime:
          title: Local Time
          type: string
        cancelledDate:
          title: Cancelled On
          type: string
          format: date-time
        cancelledByUserId:
          title: Cancelled By
          type: string
        createdDate:
          title: Created On
          type: string
          format: date-time
        startUtc:
          title: Start
          type: string
          format: date-time
        endUtc:
          title: End
          type: string
          format: date-time
        timeZone:
          title: Time Zone
          type: string
        tool:
          title: Tool
          type: string
        sfProjectId:
          title: Salesforce Project
          type: string
        user:
          $ref: '#/components/schemas/User'
        createdByUser:
          $ref: '#/components/schemas/User'
        lead:
          $ref: '#/components/schemas/Lead'
        cancelledByUser:
          $ref: '#/components/schemas/User'
      description: Appointment
    update--Appointment--request:
      title: 'Appointment: Update Body'
      type: object
      description: Request Body to Update Appointment
    create--Appointment--request:
      title: 'Appointment: Create Body'
      type: object
      description: Request Body to Create Appointment
    Appointment-indexed-fields:
      title: 'Appointment: Filterable Fields'
      enum:
        - _id
        - '#text'
        - cancelledByUserId
        - cancelledDate
        - createdByUserId
        - createdDate
        - endUtc
        - leadId
        - startUtc
        - timeZone
        - tool
        - userId
      type: string
      description: Filterable fields for Appointment
    Appointment-fields:
      title: 'Appointment: Fields'
      enum:
        - _id
        - cancelledByUser
        - cancelledByUser__t
        - cancelledByUser_AccountId
        - cancelledByUser_name
        - cancelledByUser_organizationId
        - cancelledByUser_phone
        - cancelledByUser_timeZone
        - cancelledByUserId
        - cancelledDate
        - createdByUser
        - createdByUser__t
        - createdByUser_AccountId
        - createdByUser_name
        - createdByUser_organizationId
        - createdByUser_phone
        - createdByUser_timeZone
        - createdByUserId
        - createdDate
        - description
        - endUtc
        - iCal
        - lead
        - lead__id
        - lead_address
        - lead_city
        - lead_convertedDate
        - lead_country
        - lead_createdDate
        - lead_email
        - lead_emailPreferences
        - lead_flowId
        - lead_fullName
        - lead_integrations
        - lead_integrations_externalId
        - lead_integrations_integrationId
        - lead_integrations_status
        - lead_integrations_tag
        - lead_integrations_url
        - lead_Integrations|Salesforce|Lead
        - lead_isActive
        - lead_lastModifiedDate
        - lead_leadTypeId
        - lead_Location
        - lead_LocationDistance
        - lead_nextAppointmentId
        - lead_notes
        - lead_objectStatusId
        - lead_organizationId
        - lead_phone
        - lead_phonePreferences
        - lead_postalCode
        - lead_Refs|v
        - lead_sfLeadSourceId
        - lead_smsPreferences
        - lead_state
        - lead_tags
        - lead_Test
        - lead_userId
        - leadId
        - localDate
        - localTime
        - name
        - Scheduler
        - sfProjectId
        - startUtc
        - timeZone
        - tool
        - user
        - user__t
        - user_AccountId
        - user_name
        - user_organizationId
        - user_phone
        - user_timeZone
        - userId
      type: string
      description: Fields for Appointment
    Appointment-condition:
      title: 'Appointment: Filter Condition'
      type: object
      properties:
        fieldName:
          $ref: '#/components/schemas/Appointment-indexed-fields'
        operator:
          $ref: '#/components/schemas/api-pi-condition-operator'
        value:
          title: Value
          description: Value to be used in the filter operation
      description: Field Condition for Appointment
    filter--Appointment--request:
      title: 'Appointment: Filter Body'
      type: object
      properties:
        top:
          title: Top
          minimum: 0
          type: integer
          description: Max Number of objects to return
        skip:
          title: Skip
          minimum: 0
          type: integer
          description: Number of objects to skip
        orderBy:
          $ref: '#/components/schemas/Appointment-indexed-fields'
        reverseOrder:
          title: Reverse Order
          type: boolean
          description: Order By in Reverse Order (Descending)
        fields:
          title: Fields to return
          type: array
          items:
            $ref: '#/components/schemas/Appointment-fields'
          description: List of fields to return
        criteria:
          title: Filter Criteria
          type: array
          items:
            $ref: '#/components/schemas/Appointment-condition'
          description: Conditions to be used to filter objects
      description: Request Body to filter Appointment
    filter--Appointment--response:
      title: 'Appointment: Filter Response'
      type: array
      items:
        $ref: '#/components/schemas/Appointment'
      description: Response Body to filter Appointment
    Entity:
      title: Entity
      type: object
      properties:
        name:
          title: Name
          type: string
        _t:
          title: Type
          enum:
            - Account
            - Organization
            - User
          type: string
        phone:
          title: Phone
          type: string
          format: phone
        timeZone:
          title: Time Zone
          type: string
        organizationId:
          title: Organization
          type: string
      description: Entity
      discriminator:
        propertyName: _t
        mapping:
          Organization: '#/components/schemas/Organization'
          User: '#/components/schemas/User'
    Entity-indexed-fields:
      title: 'Entity: Filterable Fields'
      enum:
        - _t
        - '#text'
        - AccountId
        - name
        - organizationId
      type: string
      description: Filterable fields for Entity
    Entity-fields:
      title: 'Entity: Fields'
      enum:
        - _t
        - AccountId
        - name
        - organizationId
        - phone
        - timeZone
      type: string
      description: Fields for Entity
    Entity-condition:
      title: 'Entity: Filter Condition'
      type: object
      properties:
        fieldName:
          $ref: '#/components/schemas/Entity-indexed-fields'
        operator:
          $ref: '#/components/schemas/api-pi-condition-operator'
        value:
          title: Value
          description: Value to be used in the filter operation
      description: Field Condition for Entity
    filter--Entity--request:
      title: 'Entity: Filter Body'
      type: object
      properties:
        top:
          title: Top
          minimum: 0
          type: integer
          description: Max Number of objects to return
        skip:
          title: Skip
          minimum: 0
          type: integer
          description: Number of objects to skip
        orderBy:
          $ref: '#/components/schemas/Entity-indexed-fields'
        reverseOrder:
          title: Reverse Order
          type: boolean
          description: Order By in Reverse Order (Descending)
        fields:
          title: Fields to return
          type: array
          items:
            $ref: '#/components/schemas/Entity-fields'
          description: List of fields to return
        criteria:
          title: Filter Criteria
          type: array
          items:
            $ref: '#/components/schemas/Entity-condition'
          description: Conditions to be used to filter objects
      description: Request Body to filter Entity
    filter--Entity--response:
      title: 'Entity: Filter Response'
      type: array
      items:
        $ref: '#/components/schemas/Entity'
      description: Response Body to filter Entity
    EntityOwnedModel:
      title: EntityOwnedModel
      type: object
      properties:
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        entityId:
          title: Entity
          type: string
          example: '{{OrganizationId}}'
        _id:
          title: Id
          type: string
          format: uuid
      description: EntityOwnedModel
    start--Lead--ExportToSalesforce--request:
      title: Request body for ExportToSalesforce
      type: object
      properties:
        Description:
          title: Description
          type: string
    start--Lead--SendCustomSMS--request:
      title: Request body for SendCustomSMS
      type: object
      properties:
        PhoneNumber:
          title: Phone Number
          type: string
          example: '{{Object.NormalizedPhoneNumber}}'
        Description:
          title: Message
          type: string
    start--Lead--EditNextAppointment--request:
      title: Request body for EditNextAppointment
      type: object
      properties:
        _id:
          title: Lead
          type: string
          example: '{{Object._id}}'
        NextAppoitmentId:
          title: Appointment
          type: string
          example: '{{Object.NextAppointmentId}}'
      description: Edit Next Appointment
    start--Lead--CreateInvoice--request:
      title: Request body for CreateInvoice
      type: object
      properties:
        Name:
          title: Name
          type: string
          example: Custom Invoice
        Description:
          title: Description
          type: string
          example: Invoice created manuallly
        ExternalIdSuffix:
          title: Unique Identifier
          type: string
          example: Custom
    start--Lead--StartSMSCampaign--request:
      title: Request body for StartSMSCampaign
      type: object
      properties:
        Description:
          title: Description
          type: string
          example: SMS Campaign
    start--Lead--TakeSnapshot--request:
      title: Request body for TakeSnapshot
      type: object
      properties:
        Name:
          title: Name
          type: string
          example: Snapshot
        Description:
          title: Description
          type: string
      description: Take Snapshot of Lead View
    start--Lead--QueueEmailCampaign--request:
      title: Request body for QueueEmailCampaign
      type: object
      properties:
        Name:
          title: Name
          type: string
          example: Snapshot
        Description:
          title: Description
          type: string
        FromName:
          title: From Name
          type: string
        FromEmail:
          title: From Email
          type: string
        Subject:
          title: Subject
          type: string
        ToNameField:
          title: To Name (Field)
          type: string
        ToEmailField:
          title: To Email (Field)
          type: string
        UnlayerTemplateId:
          title: Email Template
          type: string
      description: Email Campaign queued
    start--Lead--SendOMWSMS--request:
      title: Request body for SendOMWSMS
      type: object
      properties:
        PhoneNumber:
          title: Phone Number
          type: string
          example: '{{Object.NormalizedPhoneNumber}}'
        Description:
          title: Message
          type: string
          example: 'Hi {{Object.FirstName}}. Just to let you know that I am on my way and should get there in 15minutes --{{Context|User|FirstName}}'
    start--Lead--SendRememberMeSMS--request:
      title: Request body for SendRememberMeSMS
      type: object
      properties:
        PhoneNumber:
          title: Phone Number
          type: string
          example: '{{Object.NormalizedPhoneNumber}}'
        Description:
          title: Message
          type: string
          example: 'Dear {{Object.Name}}. We are here for you, please let me know if you have any questions about the proposal --{{Context|User|FirstName}}'
    start--Lead--SendCustomEmail--request:
      title: Request body for SendCustomEmail
      type: object
      properties:
        Description:
          title: Subject
          type: string
        UnlayerTemplateId:
          title: Template
          type: string
        Message:
          title: 'Messsage ({{InitialEvent.MetaValues.Message}})'
          type: string
    start--Lead--ScheduleFollowUp--request:
      title: Request body for ScheduleFollowUp
      type: object
      properties:
        Description:
          title: Description
          type: string
        Date:
          title: Date
          type: string
          format: date
        Time:
          title: Time
    start--Lead--CreateTask--request:
      title: Request body for CreateTask
      type: object
      properties:
        Description:
          title: Description
          type: string
        DueDate:
          title: Due Date
          type: string
          format: date-time
        EntityId:
          title: Assign to
          type: string
          example: '{{Context|UserId}}'
    start--Lead--StartZapp--request:
      title: Request body for StartZapp
      type: object
      properties:
        Description:
          title: Description
          type: string
        Campaign:
          title: Campaign
          type: string
          example: FollowUp
    Lead--actions:
      title: Lead Actions
      enum:
        - 90e2791a-8a3a-46af-915e-47b4ed48c159
        - 39df2cd6-7461-4700-be80-5ba32eb1dd7c
        - 0522eac0-e45a-4b23-9143-431691e4d559
        - 5a39451b-c2a4-4a33-bafd-2bc2d803fa83
        - 7be67336-22eb-4f19-90ad-a0702f1ace35
        - f69e0c92-ef52-43d5-bef5-67c4da6466cc
        - 1267ab56-a588-442b-aaf6-8fb03f2be0d1
        - cb3039a6-11a3-486a-8322-643c99da6ef7
        - 2828eb9a-53b7-431e-b1c6-3b2fa1e13f18
        - 8677f665-a2f2-4b4a-a1f4-3d912edc3a37
        - a0cf90d0-0915-4112-81e5-a9e9cf32e679
        - b0e4c38c-1ee4-44ab-b857-435af07066a4
        - 5711c06f-6b25-4354-9e8d-632c36ac9614
        - 526aa877-501a-4289-b6a2-665fa3ce647e
        - fd782493-092e-4f8a-b757-aad1b0a2db3d
      type: string
      description: Lead Event Ids
      x-enum-varnames:
        - ExportToSalesforce
        - SendCustomSMS
        - EditNextAppointment
        - CreateInvoice
        - StartSMSCampaign
        - TakeSnapshot
        - QueueEmailCampaign
        - SendOMWSMS
        - SendRememberMeSMS
        - ScheduleAppointment
        - GetDirections
        - SendCustomEmail
        - ScheduleFollowUp
        - CreateTask
        - StartZapp
      x-enum-descriptions:
        - Export to Salesforce
        - Send SMS
        - Next Appointment
        - Create Invoice
        - SMS Campaign
        - Take Snapshot
        - Send Email...
        - Send "I am on my way"...
        - Send "Remember me?"...
        - Schedule Appointment
        - Get Directions...
        - Send Email
        - Schedule Follow up
        - Create Task
        - Trigger Zap
    Lead:
      title: Lead
      type: object
      properties:
        _id:
          title: ID
          type: string
          format: uuid
        fullName:
          title: Full Name
          type: string
        phone:
          title: Phone
          type: string
          format: phone
        email:
          title: E-mail
          type: string
          format: email
        address:
          title: Address
          type: string
        city:
          title: City
          type: string
        state:
          title: State
          type: string
        postalCode:
          title: Postal Code
          type: string
        country:
          title: Country
          type: string
          example: United States
        userId:
          title: Assigned To
          type: string
        nextAppointmentId:
          title: Next Appointment
          type: string
        objectStatusId:
          title: Status
          type: string
          example: 1d0d0bf0-4c72-4b79-8d68-bd11802df9ec
        organizationId:
          title: Organization
          type: string
        sfLeadSourceId:
          title: HDYHAU?
          type: string
        leadTypeId:
          title: Lead Type
          type: string
        phonePreferences:
          title: Phone Instructions
          enum:
            - OptedIn
            - OptedOut
            - Unknown
          type: string
        smsPreferences:
          title: Texting Instructions
          enum:
            - OptedIn
            - OptedOut
            - Unknown
          type: string
        emailPreferences:
          title: Email Instructions
          enum:
            - OptedIn
            - OptedOut
            - Unknown
          type: string
        convertedDate:
          title: Converted On
          type: string
          format: date-time
        isActive:
          title: Active?
          type: boolean
        flowId:
          title: Flow
          type: string
          example: 89020cdc-838d-4d24-94ab-0b41f106f6ca
        notes:
          title: Initial Notes
          type: string
        tags:
          title: Tags
          type: array
          items:
            type: string
        createdDate:
          title: Created
          type: string
          format: date-time
        lastModifiedDate:
          title: Last Modified
          type: string
          format: date-time
        integrations:
          title: Integrations
          type: array
          items:
            $ref: '#/components/schemas/LeadIntegration'
        Integrations|Salesforce|Lead:
          title: Salesforce Lead
        Location:
          title: Location (Map)
        LocationDistance:
          title: Distance from Location
        Test:
          title: Test Calculation
        appointments:
          title: Appointments
          type: array
          items:
            $ref: '#/components/schemas/Appointment'
        organization:
          $ref: '#/components/schemas/Organization'
        user:
          $ref: '#/components/schemas/User'
        nextAppointment:
          $ref: '#/components/schemas/Appointment'
      description: Lead
    update--Lead--request:
      title: 'Lead: Update Body'
      required:
        - fullName
      type: object
      properties:
        fullName:
          title: Full Name
          type: string
        phone:
          title: Phone
          type: string
          format: phone
        email:
          title: E-mail
          type: string
          format: email
        address:
          title: Address
          type: string
        city:
          title: City
          type: string
        state:
          title: State
          type: string
        postalCode:
          title: Postal Code
          type: string
        country:
          title: Country
          type: string
          example: United States
        userId:
          title: Assigned To
          type: string
        phonePreferences:
          title: Phone Instructions
          enum:
            - OptedIn
            - OptedOut
            - Unknown
          type: string
        smsPreferences:
          title: Texting Instructions
          enum:
            - OptedIn
            - OptedOut
            - Unknown
          type: string
        emailPreferences:
          title: Email Instructions
          enum:
            - OptedIn
            - OptedOut
            - Unknown
          type: string
        notes:
          title: Initial Notes
          type: string
        tags:
          title: Tags
          type: array
          items:
            type: string
      description: Request Body to Update Lead
    create--Lead--request:
      title: 'Lead: Create Body'
      required:
        - fullName
      type: object
      properties:
        fullName:
          title: Full Name
          type: string
        phone:
          title: Phone
          type: string
          format: phone
        email:
          title: E-mail
          type: string
          format: email
        address:
          title: Address
          type: string
        city:
          title: City
          type: string
        state:
          title: State
          type: string
        postalCode:
          title: Postal Code
          type: string
        country:
          title: Country
          type: string
          example: United States
        userId:
          title: Assigned To
          type: string
        objectStatusId:
          title: Status
          type: string
          example: 1d0d0bf0-4c72-4b79-8d68-bd11802df9ec
        sfLeadSourceId:
          title: HDYHAU?
[...]
